<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC '-//mybatis.org//DTD Mapper 3.0/EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.pet.mapper.AdminRegisterMapper">
	<insert id="insertAdmin" parameterType="aliasUserLogin">
		insert into pet_login values
		(#{loginId},md5(#{loginPassword}))
	</insert>
	<update id="updateUser" parameterType="aliasUserLogin">
		update pet_login set
				login_password=md5(#{loginPassword})
		where login_id=#{loginId}		
	</update>
</mapper>