<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC '-//mybatis.org//DTD Mapper 3.0/EN'
'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="com.pet.mapper.ScheduleMapper">
	<insert id="insertSchedule" parameterType="aliasSchedule">
		insert into doctor_schedule values
		(null,#{dayName},#{startTime},#{endTime},#{doctorId})
	</insert>
	
	<update id="updateSchedule" parameterType="aliasSchedule">
		update doctor_schedule set
				day_name=#{dayName},
				start_time=#{startTime},
				end_time=#{endTime}
		where schedule_id=#{scheduleId}
		and doctor_id=#{doctorId}
	</update>
</mapper>